<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="caster_wheel_link">
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <left_joint>base_left_wheel_joint</left_joint>
            <right_joint>base_right_wheel_joint</right_joint>
            <wheel_separation>0.45</wheel_separation>
            <wheel_radius>0.1</wheel_radius>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <joint_name>base_left_wheel_joint</joint_name>
        <joint_name>base_right_wheel_joint</joint_name>
        <joint_name>arm_base_forearm_joint</joint_name>
        <joint_name>hand_forearm_joint</joint_name>
        </plugin>
    </gazebo>

    <gazebo>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>arm_base_forearm_joint</joint_name>
        <p_gain>5.0</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_min>-1000</cmd_min>
        <cmd_max>1000</cmd_max>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>hand_forearm_joint</joint_name>
        <p_gain>3.0</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
    </gazebo>

</robot>